/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Lato:300|PT+Serif:400);

.marquee {
    font-size: 16px;
    height: 425px;
    max-width: 1200px;
    margin: 0 auto 20px auto;
    border: 1px solid #ccc;
}

.marquee .marquee_data {
    display: none;
}