@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* --------------------------
  Base Styles
--------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-wrapper {
    flex: 1;
}

/* --------------------------
  NAVIGATION
--------------------------- */

header {
    width: 100%;
    height: 4em;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #EEE;
}

header h2 {
    margin: 0 auto;
    text-align: center;
}

.shoppingCart {
    float: right;
    height: 3em;
    padding: 10px 20px;
    background: #E5DAC0;
    color: #987D3E;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 5px;
    text-shadow:none;
    border:none;
    box-shadow:none;
}

.menu a {
    text-decoration: none;
    color: #F0EADC;
}

.menu li {
    list-style-type: none;
}

#brand {
    display: inline-block;
    line-height: 50px;
    color: #E5DAC0;
    text-align: center;
}

nav {
    width: 100%;
    text-align: center;
}

nav a {
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid #C5AD74;;
    color: #F0EADC;
}

nav a:hover {
    background: #E5DAC0;
    color: #FFF;
}

.menu {
    display: block;
    position: absolute;
    height: 100%;
    max-height: 68.2em;
    width: 240px;
    margin-top: 14px;
    background: #D9C9A3;
    left: -240px;
    z-index: 999;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.menu-icon {
    float: left;
    height: 3em;
    padding: 10px 20px;
    background: #E5DAC0;
    color: #987D3E;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 5px;
}

#menuToggle {
    display: none;
}

#menuToggle:checked ~ .menu {
    position: absolute;
    left: 0;
}

/* --------------------------
  CLEARFIX
--------------------------- */

.group::after {
    content: " ";
    display: table;
    clear: both;
}

/* --------------------------
  MAIN
--------------------------- */

.relative {
    position: relative;
}

.textCenter {
    text-align: center;
}

img {
    width: 100%;
}

figure {
    position: relative;
    margin: 0;
    padding: 0;
}

.caption {
    position: absolute;
    bottom: 0.75em;
    right: 0.75em;
    z-index: 2;
}

.order-now {
    display: block;
    height: 3em;
    padding: 10px 20px;
    background: #E5DAC0;
    color: #987D3E;
    cursor: pointer;
    margin: 1.5em auto;
    border-radius: 5px;
    text-shadow:none;
    border:none;
    box-shadow:none;
}

/* --------------------------
  FOOTER
--------------------------- */

footer {
    display: block;
    height: 7em;
    text-align: center;
    padding: 1.75em 0;
    background: #E5DAC0;
}


