@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* --------------------------
  Base Styles
--------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.fotter-flex {
    flex: 1;
}

/* --------------------------
  NAVIGATION
--------------------------- */

header {
    width: 100%;
    height: 4em;
    text-align: center;
    border-bottom: 1px solid #EEE;
}

header h2 {
    margin: 0 auto;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.shoppingCart {
    display: flex;
    height: 3em;
    padding: 10px 20px;
    background: #E5DAC0;
    color: #987D3E;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 5px;
    text-shadow:none;
    border:none;
    box-shadow:none;
}

.menu a {
    text-decoration: none;
    color: #F0EADC;
}

.menu li {
    list-style-type: none;
}

nav {
    width: 100%;
    text-align: center;
}

nav a {
    display: block;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #C5AD74;;
    color: #F0EADC;
}

nav a:hover {
    background: #E5DAC0;
    color: #FFF;
}

.menu {
    display: flex;
    position: absolute;
    height: 100%;
    max-height: 75.2em;
    width: 240px;
    margin-top: 4em;
    background: #D9C9A3;
    left: -240px;
    z-index: 999;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.menu ul {
    width: 100%;
}

.menu-icon {
    display: flex;
    align-self: flex-start;
    height: 3em;
    padding: 10px 20px;
    background: #E5DAC0;
    color: #987D3E;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 5px;
}

#menuToggle {
    display: none;
}

#menuToggle:checked ~ .menu {
    position: absolute;
    left: 0;
}

/* --------------------------
  NAV FLEXBOX
--------------------------- */

.main-header,
.menu {
    display: flex;
}

.main-header {
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    line-height: 50px;
    color: #E5DAC0;
    text-align: center;
    text-decoration: none;
}

.nav {
    display: none;
    overflow: hidden;
}


/* --------------------------
  CLEARFIX
--------------------------- */

.group::after {
    content: " ";
    display: table;
    clear: both;
}

/* --------------------------
  MAIN
--------------------------- */

.site-logo {
    width: 110px;
}

.relative {
    position: relative;
}

.text-center {
    text-align: center;
}

img {
    width: 100%;
}

figure {
    position: relative;
    margin: 0;
    padding: 0;
}

.caption {
    position: absolute;
    bottom: 0.75em;
    right: 0.75em;
    z-index: 2;
}

.order-now {
    display: block;
    padding: 1em 2em;
    background: #E5DAC0;
    color: #987D3E;
    cursor: pointer;
    margin: 2em auto;
    border-radius: 5px;
    text-shadow:none;
    border:none;
    box-shadow:none;
}

/* --------------------------
  FOOTER
--------------------------- */

footer {
    text-align: center;
    padding: 1.75em 0;
    background: #E5DAC0;
}

/* --------------------------
  MEDIA QUERIES
--------------------------- */

@media (min-width: 30.063em) {
    
    .main-wrapper {
        max-width: 90%;
        margin: 0 auto;
    }
    
    .main-header {
        display: flex;
        width: 100%;  
    }
    
    .menu {
        display: none;
        left: 0px;
        width: 100%;
    }
    
    .nav {
        display: flex;
        overflow: visible;
        background: #D9C9A3;
    }
    
    .nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
        width: 100%;
        background: #D9C9A3;
    }
    
    .nav a {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        padding: 15px 0;
        border-bottom: 1px solid #C5AD74;;
        color: #F0EADC;
    }
    
    #menuToggle:checked ~ .menu {
        display: none;
        overflow: hidden;
        position: relative;
        left: 0px;
        width: 100%;
    }
}

@media (min-width: 40.063em) {
    .main-wrapper {
        max-width: 80%;   
    }
}

@media (min-width: 60.063em) {
    .main-wrapper {
        max-width: 70%;   
    }
}

@media (min-width: 64.063em) {
    .main-wrapper {
        max-width: 60%;   
    }
}







