@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* --------------------------
  Base Styles
--------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer-flex {
    flex: 1;
}

/* --------------------------
  CLEARFIX
--------------------------- */

.group::after {
    content: " ";
    display: table;
    clear: both;
}

/* --------------------------
  MAIN
--------------------------- */

.main-wrapper {
    margin: 0 auto;
}

.relative {
    position: relative;
}

.text-center {
    text-align: center;
}

img {
    width: 100%;
}

footer a {
    text-decoration: none;
    color: #6c90b6;
}

footer a:hover {
    border-bottom: 1px solid #6c90b6;
}

figure {
    position: relative;
    margin: 0;
    padding: 0;
}

.caption {
    position: absolute;
    color: #FFF;
    bottom: 0.75em;
    right: 0.75em;
    z-index: 2;
}

.order-now {
    display: block;
    padding: 1em 2em;
    background: #2c5279;
    color: #FFF;
    cursor: pointer;
    margin: 2em auto;
    border-radius: 5px;
    text-shadow:none;
    border:none;
    box-shadow:none;
}

.order-now:hover {
    color: #FFF;
    background: #6c90b6;
    transition: 200ms;
}

#service-icons > img {
    display: block;
    border-radius: 50%;
    width: 100%;
    max-width: 12em;
    margin: 0 2em;
}

#service-icons > img ~ p {
    text-align: center;
    width: 100%;
}

#service-icons {
    margin: 0 auto;
}

/* --------------------------
  TABLE
--------------------------- */

#table-desktop {
    display: none;
    overflow: hidden;
}

table {
  max-width: 960px;
  margin: 10px auto;
}

caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}

thead th {
  font-weight: 400;
  background: #8a97a0;
  color: #FFF;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #e8eeef;
}

th, td {
  text-align: left;
  padding: 20px 10px;
  font-weight: 300;
}

tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
}


/* --------------------------
  MEDIA OBJECTS
--------------------------- */

.media-img {
    max-width: 12em;
    min-width: 8em;
    width: 100%;
    margin: 0 auto;
}

.media-img img {
    border-radius: 15px;
} 

.media-body > h4 {
    text-align: center;
}


/* --------------------------
  FOOTER
--------------------------- */

footer {
    border-top: 1px solid #2c5279;
    text-align: center;
    padding: 1.75em 0;
    margin: 0 auto;
    width: 100%;
    max-width: 75em;
}

footer p {
    color: #2c5279;
}

/* --------------------------
  MEDIA QUERIES
--------------------------- */

@media (min-width: 30.063em) {
    
    .main-wrapper {
        max-width: 90%;
    }
    
    .unit-spacing {
        padding: 1.5%;
    }

    .media {
        display: flex;
    }

    .media-img {
        margin-right: 5%;
    }

    .media-body > h4 {
        text-align: left;
    }

    #service-icons > img {
        margin: 0 auto;
    }
}

@media (min-width: 40.063em) {
    .main-wrapper {
        max-width: 80%;   
    }

    #service-icons > img {
        max-width: 10em;
    }
}

@media (min-width: 60.063em) {
    .main-wrapper {
        max-width: 70%;   
    }
}

@media (min-width: 64.063em) {
    .main-wrapper {
        max-width: 60%;   
    }
    
    #table-mobile {
        display: none;
        overflow: hidden;
    }
    
    #table-desktop {
        display: block;
        overflow: visible;
    }
}

@media (min-width: 80.063em) {
    .main-wrapper {
        max-width: 50%;   
    }
}







