/* --------------------------
  NAVIGATION
--------------------------- */

header {
    width: 100%;
    text-align: center;
    background: #2c5279;
}

header h2 {
    margin: 0 auto;
    text-align: center;
}

.shopping-cart {
    display: flex;
    justify-content:flex-end;
    width: 3em;
    height: 3em;
    padding: 10px 16px;
    background: #FFF;
    color: #2c5279;
    cursor: pointer;
    margin: 5px 0;
    border-radius: 5px;
    text-shadow:none;
    border:none;
    box-shadow:none;
}

.menu a {
    text-decoration: none;
    color: #FFF;
}

.menu li {
    list-style-type: none;
}

.menu li:hover {
    background: #c6cfe2;
}

.mobile-nav {
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    width: 100%;
}

nav {
    width: 100%;
    text-align: center;
}

nav a {
    display: block;
    padding: 15px;
    border-bottom: 1px solid #FFF;
    width: 100%;
    color: #FFF;
}

.menu {
    display: flex;
    position: absolute;
    height: 100%;
    max-height: 75.2em;
    width: 240px;
    margin-top: 4em;
    background: #2c5279;
    left: -240px;
    z-index: 999;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.menu ul {
    width: 100%;
}

.menu-icon {
    display: flex;
    width: 3em;
    height: 3em;
    padding: 10px 16px;
    background: #FFF;
    color: #2c5279;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 5px;
    text-shadow:none;
    border:none;
    box-shadow:none;
}

#menuToggle {
    display: none;
}

#menuToggle:checked ~ .menu {
    position: absolute;
    left: 0;
}

/* --------------------------
  NAV FLEXBOX
--------------------------- */

.main-header,
.menu {
    display: flex;
}

.main-header {
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    padding: 0.2em 0 0 0;
    width: 100%;
    max-width: 12em;
}

.show-logo {
    display: none;
    overflow: hidden;
}

.nav {
    display: none;
    overflow: hidden;
    background: #2c5279;
}

@media (min-width: 30.063em) {
    
    .main-header {
        justify-content: flex-end;
        width: 100%; 
    }
    
    .mobile-nav {
        display: none;
        overflow: hidden;
    }
    
    .desktop-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: visible;
    }
    
    .logo {
        max-width: 14em;
        padding: 0.75em 0 0.35em;
    }
    
    .hide-logo {
        display: none;
        overflow: hidden;
    }
    
    .show-logo {
        display: block;
        overflow: visible;
    }
    
    .menu {
        display: none;
        left: 0px;
        width: 100%;
    }
    
    .menu-icon {
        display: none;
        overflow: hidden;
    }
    
    #cart {
        display: none;
        overflow: hidden;
    }
    
    .nav {
        display: flex;
        flex-direction: row;
        overflow: visible;
        background: #2c5279;;
    }
    
    .nav ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        margin: 0 auto;
        width: 100%;
        background: #2c5279;
    }
    
    .nav ul a {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        padding: 15px 0 0 0;
        border-bottom: none;
        color: #FFF;
    }
    
    .nav ul a:hover {
        border-bottom: 1px solid #FFF;
    }
    
    #menuToggle:checked ~ .menu {
        display: none;
        overflow: hidden;
        position: relative;
        left: 0px;
        width: 100%;
    }
}

@media (min-width: 40.063em) {
    
    .logo {
        max-width: 14.5em;   
    }
    
    .nav ul {
        width: 90%;   
    }
}

@media (min-width: 60.063em) {
    
    .logo {
        max-width: 15em;
    }
    
    .nav ul {
        width: 80%;   
    }
}

@media (min-width: 64.063em) {
    
    .logo {
        max-width: 15em;
    }
    
    .nav ul {
        width: 70%;   
    }
}

@media (min-width: 80.063em) {
    
    .desktop-nav {
        flex-direction: row;
        justify-content: flex-end;
        width: 80%;
        margin: 0 auto;
    }
    
    .logo {
        max-width: 17em;
    }
    
    .nav ul {
        width: 100%;
        justify-content:flex-end;
    }
    
    .nav ul li {
        padding: 1.5em 1.5em 0;   
    }
}

